/* Theme variables */
:root {
  --text-color: #333;
  --text-inverse: #fff;
  --link-color: rgb(128, 0, 0);
  --link-active: red;
  --highlight-color: darkred;
  --active-color: pink;
  --highlight-low: darkred;
  --body-font: 'Inter', san-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --text-inverse: #111;
    --active-color: azure;
    --link-color: rgb(91, 142, 172);
    --link-active: rgb(245, 55, 55);
    --highlight-color: rgb(91, 142, 172);
    --highlight-low: rgb(147, 147, 165);
  }

  body {
    background-color: var(--text-inverse) !important;
  }

  header::before {
    filter: invert(100%);
  }

  body div.wrapper {
    border-width: 1px;
    margin: 5em auto;
  }
}

/* Non media specific styles  */
@media {
  body {
    margin: 0;
    padding: 0;
  }

  a { text-decoration: none; }
  a:link, a:visited { color: var(--link-color); }
  a:active { color: var(--link-active); }

  header::before {
    background-image: url("https://grass-graph.moshimo.works/images/techninja.png");
    content: "";
    background-size: cover;
    background-position: -23px -15px;
    background-repeat: no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  header {
    position: relative;
    z-index: 1;
    border-bottom: 0.5em solid var(--text-color);
    display: flex;
    margin: 2em;
    margin-bottom: 0;
  }

  header cv-name {
    flex: 0 70%;
    margin-bottom: 1em;
  }

  div.grid .right {
    grid-area: right;
  }

  div.grid #experience {
    grid-area: left;
  }

  aside.extra {
    font-family: var(--body-font);
    color: var(--text-color);
    text-align: center;
    margin: 0.5em 2em;
  }
}

/* Screen specific styles  */
@media screen,projection,handheld {
  body {
    background-color: var(--text-color);
  }

  div.wrapper {
    background-color: var(--text-inverse);
    border: 5em solid var(--text-color);
    max-width: 850px;
    min-width: 375px;
    margin:0 auto;
    border-radius: 0 7em;
  }
}

/* LARGE Screen specific styles  */
@media only screen, print and (min-width: 872px) {
  /* Grid layout */
  div.grid {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas: "left right";
  }
}

/* SMALL Screen specific styles  */
@media only screen and (max-width: 800px) {
  div.grid {
    display: block;
  }

  header::before {
    background-position: -74px -44px;
  }

  body div.wrapper {
    border-width: 2em;
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  body div.wrapper {
    border-width: 0;
    border-radius: 0;
  }

  header {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}


/* Print specific styles  */
@media print {
  :root {
    --text-color: #333;
    --text-inverse: #fff;
    --link-color: rgb(128, 0, 0);
    --link-active: red;
    --highlight-color: darkred;
    --highlight-low: darkred;
  }

  body div.wrapper {
    margin: 0
  }

  body {
    font-size: 0.85em;
  }

  header::before {
    background: none;
  }

  /* Grid layout */
  div.grid {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: "left right";
  }

  aside.extra {
    display: none;
  }

  header {
    margin: 0 1em;
  }
}
